@import "tailwindcss";

:root {
  --brand-red: #E10600;
  --brand-navy: #0B3C6D;
  --brand-orange: #ea580c;
}

@theme {
  --color-brand-red: #E10600;
  --color-brand-navy: #0B3C6D;
  --color-brand-orange: #ea580c;
  --font-sans: "Montserrat", sans-serif;
}

@layer base {
  body {
    background-color: #f8fafc;
    /* bg-slate-50 */
    color: #0f172a;
    /* text-slate-900 */
    font-family: "Montserrat", sans-serif;
  }
}

@layer utilities {
  .logo-pdf {
    color: #E10600 !important;
    font-weight: 800 !important;
  }

  .logo-ji {
    color: #0B3C6D !important;
    font-weight: 600 !important;
  }
}